* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: sans-serif;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(#e66465, #9198e5);
  color: #fff;
  margin: 50px auto;
  padding: 37px;
  /* text-align: center; */
  border-radius: 5%;
}

/* user input section */
.input-task {
  margin-top: 20px;
  display: flex;
  position: relative;
}
.input-task input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #212121;
  padding: 15px 25px;
  width: 75%;
  border-radius: 70px;
  font-size: large;
  margin-right: 10px;
  width: 100%;
}
.input-task button {
  width: 30%;
  position: absolute;
  right: 1px;
  padding: 15px 25px;
  font-size: 20px;
  background-color: rgb(255, 128, 0);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.input-task button:hover {
  background-color: rgb(240, 120, 0);
}

/* list section */
.todo-list {
  margin-top: 40px;
}
/* li class */
.listitem-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list-item p {
  font-size: 15px;
  letter-spacing: 1px;
}

/* remove( x ) button */
.remove {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 7px;
  font-weight: bolder;
}
.remove:hover {
  background: rgb(246, 245, 245);
  color: gray;
  border-radius: 5px;
}
